<%- messages() %>

<h1>Inventory Management</h1>

<div class="management-actions">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Inventory Item</a>
</div>
